@using Task10.WebPL.Models;
@using System.Drawing;
@{
    Layout = "~/Layouts/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a name="top"></a>
    <div class="reward-container">

        @if (User.IsInRole("ADMIN"))
        {
            <div class="text-center">
                <div class="add-remove-users">
                    <a class="btn btn-info" href="~/Pages/AddUser.cshtml">Add User</a>
                    <a class="btn btn-info" href="~/Pages/RemoveAllUsers.cshtml">Remove all Users</a>
                </div>
            </div>

            <hr class="my-2" />
        }

        @{var users = UserService.GetAllUsers(); }
        @if (!users.Any())
        {
            <div class="alert-center">
                <div class="alert alert-warning center-block">No Users in DB</div>
            </div>
            @RenderBody()
            return;
        }

        <table class="table">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>Age</th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <th>Awards</th>
                    }
                    @if (User.IsInRole("ADMIN"))
                    {
                        <th>Management</th>
                    }
                </tr>
            </thead>
            @foreach (var user in users)
            {
                <tr>
                    <td><img class="userimage" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(user.UserImage))"></td>
                    <td>@user.Name</td>
                    <td>@user.DateOfBirth.ToString("dd.MM.yyyy")</td>
                    <td>@user.Age</td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>@UserService.ShowUserAwards(user)</td>
                    }
                    @if (User.IsInRole("ADMIN"))
                    {
                        <td>
                            <button class="btn btn-info" onclick="changeUser('@user.Id');">Change User</button> <br />
                            <button class="btn btn-info" onclick="manageAwards('@user.Id');">Manage Awards</button> <br />
                            <button class="btn btn-info" onclick="deleteUser('@user.Id');">Remove User</button>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>

    @RenderBody()

    <div class="text-center">
        <a href="#top" class="btn btn-info">To top</a>
    </div>

    <script>
        function deleteUser(id) {
            $.post("" + "/Pages/RemoveUser.cshtml", { id: id }, () => location.reload());
        }

        function changeUser(id) {
            location.href = "" + "/Pages/ChangeUser?id=" + id;
        }

        function manageAwards(id) {
            location.href = "" + "/Pages/ManageAwards?id=" + id;
        }
    </script>
</body>

</html>
